<div id="wrapper">
<form action="/project/create" method="POST">
    <h2><%= __('project.new.title')%> <%=user.name%></h2>

    <input type="hidden" name="owner" value="<%=user.id%>" />
    <input type="text" placeholder="<%= __('project.new.name')%>" name="name"><br/>
  
    <textarea rows="6" cols="200" type="text" placeholder="<%= __('project.new.description')%>" name="description"></textarea><br/>
    <textarea rows="6" cols="100" type="text" placeholder="<%= __('project.new.scope')%>" name="scope" /></textarea><br/>
    <input type="submit" value="<%= __('project.new.newprojectbutton')%>" class="btn btn-success"/>
    <input type="hidden" value="<%=_csrf%>" name="_csrf">

</form>
</div>