<div id="wrapper">
    <div class="row">      
        <%- partial('../new_navbuttons.ejs') %>    
       
    </div> <!-- fin row-->

<div class="row-fluid top-page">
    <% if (project.status.risks == "wip" || project.status.risks == "no") {%>
        <div class="alert alert-primary" role="alert">
            Agrega por lo menos<strong> un riesgo a cada interesado</strong> para avanzar a la siguiente fase de planificaci칩n.
            En caso de no percibir riesgo asociado a un interesado, indicar "sin riesgo percibido".
        </div>
     <%} else {%>
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
            <strong>Bien!</strong> Ya puedes continuar a la fase de An치lisis de Interesados.
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
        <%};%>

</div>
   
   
    <h1>Risks</h1>
    <h2><%= project.name %></h2>
   
    <hr>
    <H2>Risks</H2>
    <table class="table table table-sm table-vcenter">
        <tr>
            
            <th class="align-middle">Stakeholder</th>
            
            <th></th>
            <th></th>
            
        </tr>
        
        <% _.each(project.stakeholders, function(stakeholder) { %>
            <tr data-id="<%= stakeholder.id%>" data-model="stakeholder">
                
                <td class="vert-aligned"><%= stakeholder.name%></td>
               
                <td>
                    <table class="table table-sm ">
                        <tr> 
                          
                            <!-- <form action="/stakeholder/edit/<%=stakeholder.id%>" method="POST">
                                <input type="hidden" name="belongs_to_project" value="<%= project.id%>">
                                <input type="hidden" name="_method" value="edit" >
                                <input type="hidden" name="assoc_task" value="<%= stakeholder.assoc_task%>" >
                                <button type="submit" class="btn btn-sm btn-primary">
                                        <i class="fa fa-pencil-square-o fa-2" aria-hidden="true"></i>
                                </button>
                                <input type="hidden" name="_csrf" value="<%= _csrf%>">
                            </form>
                                                    
                            <form action="/stakeholder/destroy/<%= stakeholder.id %>" method="POST">
                                <input type="hidden" name="belongs_to_project" value="<%= stakeholder.belongs_to_project %>" >
                                <input type="hidden" name="_method" value="delete" >
                                <button type="submit" class="btn btn-sm btn-danger">
                                    <i class="fa fa-trash fa-2" aria-hidden="true"></i>
                                </button>
                                <input type="hidden" name="_csrf" value="<%= _csrf%>">
                            </form> -->
                            
                            <form action="/risk/new/" method="POST">
                                <input type="hidden" name="belongs_to_project" value="<%= project.id%>" >
                                <input type="hidden" name="assoc_stakeholder" value="<%= stakeholder.id%>" >
                                <input type="hidden" name="_method" value="new" >
                             
                                <button type="submit" class="btn-action green-line" >   
                                <i class="fa fa-plus-square-o fa-2" aria-hidden="true"></i> Nuevo riesgo</button>
                                
                                <input type="hidden" name="_csrf" value="<%= _csrf%>">
                            </form>
                        </tr>
                    </table>
                </td>
               
                <td class="align-middle"><table class="table table-hover table-striped table-sm">
                    
                    <% _.each(project.risks, function(risk) { if (risk.assoc_stakeholder==stakeholder.id) { %>
                         <tr data-id="<%= risk.id%>" data-model="risk" valign="middle">
                            
                            <td><%= risk.description%></td>
                            <td><%= risk.impact%></td>
                            <td><%= risk.mitigation%></td>
                            <td>
                                <table class="table table-sm">
                                    <tr>
                                        
                                        <form action="/risk/edit/<%=risk.id%>" method="POST">
                                            <input type="hidden" name="belongs_to_project" value="<%= risk.belongs_to_project%>">
                                            <input type="hidden" name="_method" value="edit" >
                                            <button type="submit" class="btn btn-sm btn-primary">
                                                    <i class="fa fa-pencil-square-o fa-2" aria-hidden="true"></i>
                                            </button>
                                            <input type="hidden" name="_csrf" value="<%= _csrf%>">
                                        </form>

                                                                    
                                        <form action="/risk/destroy/<%= risk.id %>" method="POST">
                                            <input type="hidden" name="belongs_to_project" value="<%= risk.belongs_to_project %>" >
                                            <input type="hidden" name="_method" value="delete" >
                                            <button type="submit" class="btn btn-sm btn-danger" >
                                                    <i class="fa fa-trash fa-2" aria-hidden="true"></i>
                                            </button>
                                            <input type="hidden" name="_csrf" value="<%= _csrf%>">
                                        </form>
                                    </tr>
                                </table>
                             </td>
                            </tr> 
                        <% }}); %>
          
                </table></td>
             </tr>    
        </tr> 
    <% }); %>
    </table>

<!-- Comentarios secci칩n de Riesgos -->
<p><div class="pull-right"> 
        <a class="btn-action gray-line" data-toggle="collapse" href="#collapseRiskComments" aria-expanded="false" aria-controls="collapseRiskComments">
            Ver comentarios &nbsp;&nbsp;
            <% if (comments.filter(function thisSection(comment) { return comment.section == 'risks'}).length > 0) {%>
                 <i class="fa fa-comments fr" aria-hidden="true"></i>
            <% } else {%>
                 <i class="fa fa-commenting-o fr" aria-hidden="true"></i>
            <% }%>
        </a>
    </div> </p>

    <div class="collapse" id="collapseRiskComments">
    <div class="card card-body">
        <div class="pull-right">    
            <form action="/comment/new" method="POST">
                <div class="control-group" style="display:none;">    
                    <input type="hidden" value="<%=project.id%>" name="belongs_to_project">
                    <input type="hidden" value="risks" name="belongs_to">
                    <input type="hidden" value="risks" name="section">
                    <input type="hidden" value=0 name="item">
                    <input type="hidden" value="/project/risks/<%=project.id%>" name="comes_from">
                    <input type="hidden" value="<%=_csrf%>" name="_csrf">
                </div>
                <button type="submit" class="btn btn-sm btn-success" >
                    <i class="fa fa-plus" aria-hidden="true"></i>
                </button>
            </form>
        </div>
        
        <table class="table table-sm table-hover table-striped">
            <% if (comments.filter(function thisSection(comment) { return comment.section == 'risks'}).length > 0) {%>
         
            <% _.each(comments, function(comment) { if(comment.section == 'risks') { %>
                <tr data-id="<%= comment.id%>" data-model="comment">
                    <td><span class="badge badge-default"><%= comment.user_name%></span>
                        <%= comment.text%> - <p style="color:rgba(184, 180, 180, 0.692);"><small> <%= comment.date.toLocaleString()%></small></p></td>
                    <!-- <td><a href="/project/show/<%=project.id%>">Show</a></td> -->
                    <td>
                        <form action="/comment/edit/<%= comment.id %>" method="POST">
                           <button type="submit" class="btn btn-sm btn-success" >
                             <i class="fa fa-pencil" aria-hidden="true"></i>
                           </button>
                           <div class="control-group" style="display:none;"> 
                                <input type="hidden" name="_method" value="edit" >
                                <input type="hidden" value="/project/risks/<%=project.id%>" name="comes_from">
                                <input type="hidden" name="_csrf" value="<%= _csrf%>">
                            </div>
                        </form> 
                     </td>
                    <td>
                            <form action="/comment/destroy/<%= comment.id %>" method="POST">
                                <button type="submit" class="btn btn-sm btn-danger" >
                                    <i class="fa fa-trash" aria-hidden="true"></i>
                                </button>
                            <div class="control-group" style="display:none;">    
                                <input type="hidden" value="/project/risks/<%=project.id%>" name="comes_from">
                                <input type="hidden" name="_method" value="delete" />
                                <input type="hidden" name="_csrf" value="<%= _csrf%>"/>
                            </div>
                            </form>
                    </td>
                
                </tr>
              <% }}); %> <!-- fin de ciclo -->
            <% } else {%>
                <tr><td><p style="color:rgba(184, 180, 180, 0.692);">No hay comentarios para esta secci칩n</p></td></tr>
            <%}%>
        </table>
    </div>
</div>
<!-- FIN comentarios riesgos -->


   
</div>
