<script>
    $(document).ready(function() {
        $('.tooltip').tooltipster({
            animation  : 'grow',
            delay      : 100,
            delayTouch : 100,
            trigger    : 'hover'
        });
    });
</script>



<div id="wrapper">
        

        <div class="row">      
                <%- partial('../new_navbuttons.ejs') %>    
               
            </div> <!-- fin row-->
    
    <div class="row-fluid top-page">
            <% if (project.status.pcharter == "wip" || project.status.pcharter == "no") {%>
                <div class="alert alert-primary" role="alert">
                    Agrega por lo menos un <strong> objetivo </strong> para avanzar a la siguient fase de planificación.
                </div>
             <%} else {%>
                <div class="alert alert-warning alert-dismissible fade show" role="alert">
                    <strong>Bien!</strong> Ya puedes continuar a la fase de Estructura de Desglose de Tareas (EDT).
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                <%};%>




        <h1 class="title--project-charter"><span>Proyecto</span><%= project.name %></h1>
            <table class="top-page-table col-8" width="100%">
                <tr>
                    <td width="140"><strong><%= __('project.show.description')%></strong></td>
                    <td><%= project.description %></td>
                </tr>
                <tr>
                    <td><strong><%= __('project.show.scope')%></strong></td>
                    <td><%= project.scope %></td>
                </tr>
            </table>
            <div class="container--actions-project-charter">
                <!-- <button type="submit" class="btn-action green-line"><i class="fas fa-edit fl"></i> &nbsp;&nbsp;Editar</button> -->
            <!-- Boton de edición de los datos básicos de proyecto, lleva a update -->
            
            <form action="/project/edit/<%=project.id%>" method="POST">
                <button type="submit" class="btn-action green-line">
                    <i class="fas fa-edit fl" aria-hidden="true"></i>
                    <%= __('project.show.editheader')%>
                </button>
                <input type="hidden" value="<%=_csrf%>" name="_csrf">
            </form>


                <a class="btn-action gray-line" data-toggle="collapse" href="#collapseHeaderComments" aria-expanded="false" aria-controls="collapseHeaderComments">
                    Ver comentarios&nbsp;&nbsp;&nbsp; 
                    <% if (comments.filter(function thisSection(comment) { return comment.section == 'header'}).length > 0) {%>
                        <i class="fa fa-comments" aria-hidden="true"></i>
                <% } else {%>
                        <i class="fa fa-commenting-o" aria-hidden="true"></i>
                <% }%>
                
                </a>
            </div>
        </div>
    
    <!-- Comentarios básicos -->
    <div class="collapse" id="collapseHeaderComments">
        <div class="card card-body">
            <div class="pull-right">    
                <form action="/comment/new" method="POST">
                    <div class="control-group" style="display:none;">    
                        <input type="hidden" value="<%=project.id%>" name="belongs_to_project">
                        <input type="hidden" value="project" name="belongs_to">
                        <input type="hidden" value="header" name="section">
                        <input type="hidden" value=0 name="item">
                        <input type="hidden" value="/project/show/<%=project.id%>" name="comes_from">
                        <input type="hidden" value="<%=_csrf%>" name="_csrf">
                    </div>
                    <button type="submit" class="btn btn-sm btn-success" >
                        <i class="fa fa-plus" aria-hidden="true"></i>
                    </button>
                </form>
            </div>
            
            <table class="table table-sm table-hover table-striped">
                <% if (comments.filter(function thisSection(comment) { return comment.section == 'header'}).length > 0) {%>
             
                <% _.each(comments, function(comment) { if(comment.section == 'header') {%>
                    <tr data-id="<%= comment.id%>" data-model="comment">
                        <td><span class="badge badge-default"><%= comment.user_name%></span>
                            <%= comment.text%> - <p style="color:rgba(184, 180, 180, 0.692);"><small> <%= comment.date.toLocaleString()%></small></p></td>
                        <!-- <td><a href="/project/show/<%=project.id%>">Show</a></td> -->
                        <td>
                            <form action="/comment/edit/<%= comment.id %>" method="POST">
                               <button type="submit" class="btn btn-sm btn-success" >
                                 <i class="fa fa-pencil" aria-hidden="true"></i>
                               </button>
                               <div class="control-group" style="display:none;"> 
                                    <input type="hidden" name="_method" value="edit" >
                                    <input type="hidden" value="/project/show/<%=project.id%>" name="comes_from">
                                    <input type="hidden" name="_csrf" value="<%= _csrf%>">
                                </div>
                            </form> 
                         </td>
                        <td>
                                <form action="/comment/destroy/<%= comment.id %>" method="POST">
                                    <button type="submit" class="btn btn-sm btn-danger" >
                                        <i class="fa fa-trash" aria-hidden="true"></i>
                                    </button>
                                <div class="control-group" style="display:none;">    
                                    <input type="hidden" value="/project/show/<%=project.id%>" name="comes_from">
                                    <input type="hidden" name="_method" value="delete" />
                                    <input type="hidden" name="_csrf" value="<%= _csrf%>"/>
                                </div>
                                </form>
                        </td>
                    
                    </tr>
                  <% }}); %> <!-- fin de ciclo -->
                <% } else {%>
                    <tr><td><p style="color:rgba(184, 180, 180, 0.692);"><%= __('nocomments')%></p></td></tr>
                <%}%>
            </table>
        </div>
    </div>
<!-- FIN comentarios datos básicos -->

<!-- URL de drive -->

<div class="row-fluid container--projects-table">
        <h2 class="subtitle-page">Carpeta compartida</h2>
        <!-- <div class="pull-right">  -->
            <a  class="btn-action green-line" data-toggle="collapse" href="#EditURL" aria-expanded="false" aria-controls="EditURL">
                Editar
                <i class="fas fa-edit fl" aria-hidden="true"></i>
            </a>
        <!-- </div>  -->

            <div class="collapse in" id="AllowEditURL">
                    <div class="card card-body">
                        <%if (project.url) { %>
                            <a href="<%=project.url%>" > Acceder a carpeta compartida</a>
                        <%} else {%>
                            Editar URL de carpeta compartida
                        <%}%>
                    
                    </div>
                </div>
        <div class="collapse" id="EditURL">
            <div class="card card-body">
                    <form action="/project/update/<%=project.id%>" method="POST">
                        <input type="hidden" name="owner" value="<%=project.owner.id%>">
                        <input cols="100" type="text" value="<%=project.url%>"  name="url" id="url_input">
                        
                        <!-- <input type="submit" value="Update" class="btn-action green-line"> -->
                        <input type="submit" value="Update" class="btn-success" aria-expanded="false">
                        <a data-toggle="collapse" href="#EditURL" aria-expanded="false" aria-controls="EditURL" class="btn btn-sm btn-danger">Cancel</a>
                        
                        <input type="hidden" name="_csrf" value="<%=_csrf%>" />
                        
                
                    </form>
            </div>
        </div>
    </div>
        <!-- FIN URL drive -->

    <div class="row-fluid container--projects-table">
        <h2 class="subtitle-page"><%= __('project.show.objectives.title')%></h2>
        <table class="projects-table" width="100%" style="margin-bottom: 20px;">
            <thead>
                <tr>
                    <th width="65"><%= __('project.show.objectives.id')%></th>
                    <th><%= __('project.show.objectives.objective')%></th>
                    <th><%= __('project.show.objectives.formula')%></th>
                    <th><%= __('project.show.objectives.goal')%></th>
                    
                    <th style="border-right: none;" width="100">ACCIONES</th>
                    <!-- <th style="border-right: none; text-align: center;">ACCIONES</th> -->
                    
                </tr>
            </thead>
            <tbody>
                 <% _.each(project.objectives, function(objective) { %>
                 <tr data-id="<%= objective.id%>" data-model="objective">
                    <td align="center"><strong><%= objective.id%></strong></td>
                    <td><%= objective.description%></td>
                    <td><%= objective.formula%></td>
                    <td align="center"><%= objective.goal%></td>
                    <td class="actions" style="border-right: none;" >
                    <!-- <td class="actions" style='white-space: nowrap; display:inline-block' > -->
                        
                        <!-- <button type="submit" class="edit-project tooltip" title="Editar Objetivo"><i class="far fa-edit"></i></button> -->
                        <form action="/objective/edit/<%=objective.id%>" method="POST" >
                            <button type="submit" class="edit-project tooltip" title="Editar Objetivo"/>
                              <i class="fa fa-edit" aria-hidden="true"></i>
                            </button>
                            <div class="control-group" style="display:none;"> 
                                 <input type="hidden" name="_method" value="edit" />
                                 <input type="hidden" value="/project/show/<%=project.id%>" name="comes_from"/>
                                 <input type="hidden" name="_csrf" value="<%= _csrf%>"/>
                             </div>
                         </form> 
                        <!-- </td> -->
                        <!-- <td class="actions" style='white-space: nowrap'> -->
                         <!-- <td class="actions" > -->
                       
                        <!-- <button type="submit" class="delete-project tooltip" title="Eliminar Objetivo"><i class="fas fa-trash-alt"></i></button> -->
                        <form action="/objective/destroy/<%= objective.id %>" method="POST" >
                           
                            <button type="submit" class="delete-project tooltip" title="Eliminar Objetivo">
                                <i class="fas fa-trash-alt" aria-hidden="true"></i>
                            </button>
                            <div class="control-group" style="display:none;">            
                                <input type="hidden" name="belongs_to_project" value="<%= objective.belongs_to_project %>">
                                <input type="hidden" name="_method" value="delete">
                                <input type="hidden" name="_csrf" value="<%= _csrf%>">
                            </div>
                        </form>
                    </td>
                </tr>
                <% }); %>
            </tbody>
        </table>
        <div class="container--actions-project-charter">
            <!-- <button type="submit" class="btn-action green-line">Agregar objetivo&nbsp;&nbsp;&nbsp; <i class="fas fa-plus fr"></i></button> -->
            <form action="/objective/new" method="POST">
   
                <input type="hidden" value="<%=project.id%>" name="belongs_to_project">
            <button type="submit" class="btn-action green-line">
                    Agregar objetivo&nbsp;&nbsp;&nbsp;
                    <i class="fas fa-plus fr" aria-hidden="true"></i>
                  </button>
            <input type="hidden" value="<%=_csrf%>" name="_csrf">
            </form>

            <a class="btn-action gray-line" data-toggle="collapse" href="#collapseObjectiveComments" aria-expanded="false" aria-controls="collapseObjectiveComments">
                    Ver comentarios&nbsp;&nbsp;&nbsp;
                     <!-- <i class="far fa-comments fr"></i> -->
                     <% if (comments.filter(function thisSection(comment) { return comment.section == 'objectives'}).length > 0) {%>
                        <i class="fa fa-comments fr" aria-hidden="true"></i>
                   <% } else {%>
                        <i class="fa fa-commenting-o fr" aria-hidden="true"></i>
                   <% }%>
                    </a>
        </div>
    </div>
    
  


 <!-- Comentarios sección de OBJETIVOS -->
 <!-- <p><div class="pull-right"> 
        <a class="btn btn-primary" data-toggle="collapse" href="#collapseObjectiveComments" aria-expanded="false" aria-controls="collapseObjectiveComments">
            <% if (comments.filter(function thisSection(comment) { return comment.section == 'objectives'}).length > 0) {%>
                 <i class="fa fa-comments" aria-hidden="true"></i>
            <% } else {%>
                 <i class="fa fa-commenting-o" aria-hidden="true"></i>
            <% }%>
        </a>
    </div> </p> -->

    <div class="collapse" id="collapseObjectiveComments">
    <div class="card card-body">
        <div class="pull-right">    
            <form action="/comment/new" method="POST">
                <div class="control-group" style="display:none;">    
                    <input type="hidden" value="<%=project.id%>" name="belongs_to_project">
                    <input type="hidden" value="project" name="belongs_to">
                    <input type="hidden" value="objectives" name="section">
                    <input type="hidden" value=0 name="item">
                    <input type="hidden" value="/project/show/<%=project.id%>" name="comes_from">
                    <input type="hidden" value="<%=_csrf%>" name="_csrf">
                </div>
                <button type="submit" class="btn btn-sm btn-success" >
                    <i class="fa fa-plus" aria-hidden="true"></i>
                </button>
            </form>
        </div>
        
        <table class="table table-sm table-hover table-striped">
            <% if (comments.filter(function thisSection(comment) { return comment.section == 'objectives'}).length > 0) {%>
         
            <% _.each(comments, function(comment) { if(comment.section == 'objectives') { %>
                <tr data-id="<%= comment.id%>" data-model="comment">
                    <td><span class="badge badge-default"><%= comment.user_name%></span>
                        <%= comment.text%> - <p style="color:rgba(184, 180, 180, 0.692);"><small> <%= comment.date.toLocaleString()%></small></p></td>
                    <!-- <td><a href="/project/show/<%=project.id%>">Show</a></td> -->
                    <td>
                        <form action="/comment/edit/<%= comment.id %>" method="POST">
                           <button type="submit" class="btn btn-sm btn-success" >
                             <i class="fa fa-pencil" aria-hidden="true"></i>
                           </button>
                           <div class="control-group" style="display:none;"> 
                                <input type="hidden" name="_method" value="edit" >
                                <input type="hidden" value="/project/show/<%=project.id%>" name="comes_from">
                                <input type="hidden" name="_csrf" value="<%= _csrf%>">
                            </div>
                        </form> 
                     </td>
                    <td>
                            <form action="/comment/destroy/<%= comment.id %>" method="POST">
                                <button type="submit" class="btn btn-sm btn-danger" >
                                    <i class="fa fa-trash" aria-hidden="true"></i>
                                </button>
                            <div class="control-group" style="display:none;">    
                                <input type="hidden" value="/project/show/<%=project.id%>" name="comes_from">
                                <input type="hidden" name="_method" value="delete" />
                                <input type="hidden" name="_csrf" value="<%= _csrf%>"/>
                            </div>
                            </form>
                    </td>
                
                </tr>
              <% }}); %> <!-- fin de ciclo -->
            <% } else {%>
                <tr><td><p style="color:rgba(184, 180, 180, 0.692);"><%= __('nocomments')%></p></td></tr>
            <%}%>
        </table>
    </div>
</div>
<!-- FIN comentarios objetivos -->






    <div class="row-fluid container--projects-table">
        <h2 class="subtitle-page"><%= __('project.show.milestones.title')%></h2>
        <table class="projects-table" width="100%" style="margin-bottom: 20px;">
            <thead>
                <tr>
                    <th width="65"><%= __('project.show.milestones.id')%></th>
                    <th><%= __('project.show.milestones.milestone')%></th>
                    <th><%= __('project.show.milestones.date')%></th>
                    <th style="border-right: none;" width="100">ACCIONES</th>
                </tr>
            </thead>
            <tbody>
                    <% _.each(project.milestones, function(milestone) { %>
                        <tr data-id="<%= milestone.id%>" data-model="milestone">
                            
                    <td align="center"><strong><%= milestone.id%></strong></td>
                    <td><%= milestone.description%></td>
                    <td><%= milestone.date.toLocaleString()%></td>
                    <td class="actions">
                        <button type="submit" class="edit-project tooltip" title="Editar Hito"><i class="far fa-edit"></i></button>
                        <form action="/milestone/edit/<%=milestone.id%>" method="POST">
                        
                            <input type="hidden" name="_method" value="edit" >
                            <button type="submit" class="edit-project tooltip" title="Editar Hito">
                                    <i class="far fa-edit" aria-hidden="true"></i>
                            </button>
                            <input type="hidden" name="_csrf" value="<%= _csrf%>">
                        </form>
                        
                        
                        
                        <button type="submit" class="delete-project tooltip" title="Eliminar Hito"><i class="fas fa-trash-alt"></i></button>
                        <form action="/milestone/destroy/<%= milestone.id %>" method="POST">
                            <input type="hidden" name="belongs_to_project" value="<%= milestone.belongs_to_project %>" />
                            <input type="hidden" name="_method" value="delete" />
                            <button type="submit" class="delete-project tooltip" title="Eliminar Hito">
                                <i class="fas fa-trash-alt" aria-hidden="true"></i>
                            </button>
                            <input type="hidden" name="_csrf" value="<%= _csrf%>"/>
                        </form>
                   
                   
                    </td>
                </tr>
                <% }); %>
            </tbody>
        </table>
        <div class="container--actions-project-charter">
            <!-- <button type="submit" class="btn-action green-line">Agregar hito&nbsp;&nbsp;&nbsp; <i class="fas fa-plus fr"></i></button> -->
            <form action="/milestone/new" method="POST">
                <input type="hidden" value="<%=project.id%>" name="belongs_to_project">
                <button type="submit" class="btn-action green-line" >
                        Agregar hito&nbsp;&nbsp;&nbsp; <i class="fas fa-plus fr"></i>
                 </button>
                <input type="hidden" value="<%=_csrf%>" name="_csrf">
            </form>
           
           
           
           
          
        </div>
    </div>

    <div class="row-fluid container--projects-table">
        <h2 class="subtitle-page"><%= __('project.show.team.title')%></h2>
        <table class="projects-table" width="100%" style="margin-bottom: 20px;">
            <thead>
                <tr>
                    <th width="65"><%= __('project.show.team.id')%></th>
                    <th><%= __('project.show.team.name')%></th>
                    <th><%= __('project.show.team.email')%></th>
                    <th style="border-right: none;" width="100">ACCIONES</th>
                </tr>
            </thead>
            <tbody>
                    <% _.each(project.team, function(user) { %>
                        <tr data-id="<%= user.id%>" data-model="user">
                            
                    <td align="center"><strong><%= user.id%></strong></td>
                    <td><%= user.name%></td>
                    <td>><%= user.email%></td>
                    <td class="actions">
                        <!-- <button type="submit" class="edit-project tooltip" title="Editar Participante"><i class="far fa-edit"></i></button> -->
                        <form action="user/edit/<%=user.id%>" method="POST">
                    
                            <input type="hidden" name="_method" value="edit" >
                            <button type="submit" class="edit-project tooltip" title="Editar Participante">
                                    <i class="far fa-edit" aria-hidden="true"></i>
                            </button>
                            <input type="hidden" name="_csrf" value="<%= _csrf%>">
                        </form>
                        
                        <!-- <button type="submit" class="delete-project tooltip" title="Eliminar Participante"><i class="fas fa-trash-alt"></i></button> -->
                        <form action="/user/rem_from_team/<%= user.id %>" method="POST">
                            <button type="submit" class="delete-project tooltip" title="Eliminar Participante">
                                <i class="fas fa-trash-alt" aria-hidden="true"></i>
                            </button>
                            <div class="control-group" style="display:none;">            
                                <input type="hidden" name="belongs_to_project" value="<%= user.projectsTeam %>">
                                <input type="hidden" name="_method" value="rem_from_team">
                                <input type="hidden" name="_csrf" value="<%= _csrf%>">
                            </div>
                        </form>
                    </td>
                </tr>
                <% }); %>
            </tbody>
        </table>
        <div class="container--actions-project-charter">
            <!-- <button type="submit" class="btn-action green-line">Agregar participante&nbsp;&nbsp;&nbsp; <i class="fas fa-plus fr"></i></button> -->
            <form action="/user/add_to_team" method="POST">
                <input type="hidden" name="belongs_to_project" value="<%=project.id%>" >
                <button type="submit"  class="btn-action green-line" >
                        Agregar participante&nbsp;&nbsp;&nbsp; <i class="fas fa-plus fr" aria-hidden="true"></i>
                 </button>
                <input type="hidden" value="<%=_csrf%>" name="_csrf">
                </form>

            
            <a class="btn-action gray-line" data-toggle="collapse" href="#collapseTeamComments" aria-expanded="false" aria-controls="collapseTeamComments">
                Ver comentarios&nbsp;&nbsp;&nbsp; 
                <% if (comments.filter(function thisSection(comment) { return comment.section == 'team'}).length > 0) {%>
                    <i class="fa fa-comments" aria-hidden="true"></i>
               <% } else {%>
                    <i class="fa fa-commenting-o" aria-hidden="true"></i>
               <% }%>
            </a>
        </div>
 <!-- Comentarios sección de Team -->
 <!-- <p><div class="pull-right"> 
        <a class="btn btn-primary" data-toggle="collapse" href="#collapseTeamComments" aria-expanded="false" aria-controls="collapseTeamComments">
            <% if (comments.filter(function thisSection(comment) { return comment.section == 'team'}).length > 0) {%>
                 <i class="fa fa-comments" aria-hidden="true"></i>
            <% } else {%>
                 <i class="fa fa-commenting-o" aria-hidden="true"></i>
            <% }%>
        </a>
    </div> </p> -->

    <div class="collapse" id="collapseTeamComments">
    <div class="card card-body">
        <div class="pull-right">    
            <form action="/comment/new" method="POST">
                <div class="control-group" style="display:none;">    
                    <input type="hidden" value="<%=project.id%>" name="belongs_to_project">
                    <input type="hidden" value="project" name="belongs_to">
                    <input type="hidden" value="team" name="section">
                    <input type="hidden" value=0 name="item">
                    <input type="hidden" value="/project/show/<%=project.id%>" name="comes_from">
                    <input type="hidden" value="<%=_csrf%>" name="_csrf">
                </div>
                <button type="submit" class="btn btn-sm btn-success" >
                    <i class="fa fa-plus" aria-hidden="true"></i>
                </button>
            </form>
        </div>
        
        <table class="table table-sm table-hover table-striped">
            <% if (comments.filter(function thisSection(comment) { return comment.section == 'team'}).length > 0) {%>
         
            <% _.each(comments, function(comment) { if(comment.section == 'team') { %>
                <tr data-id="<%= comment.id%>" data-model="comment">
                    <td><span class="badge badge-default"><%= comment.user_name%></span>
                        <%= comment.text%> - <p style="color:rgba(184, 180, 180, 0.692);"><small> <%= comment.date.toLocaleString()%></small></p></td>
                    <!-- <td><a href="/project/show/<%=project.id%>">Show</a></td> -->
                    <td>
                        <form action="/comment/edit/<%= comment.id %>" method="POST">
                           <button type="submit" class="btn btn-sm btn-success" >
                             <i class="fa fa-pencil" aria-hidden="true"></i>
                           </button>
                           <div class="control-group" style="display:none;"> 
                                <input type="hidden" name="_method" value="edit" >
                                <input type="hidden" value="/project/show/<%=project.id%>" name="comes_from">
                                <input type="hidden" name="_csrf" value="<%= _csrf%>">
                            </div>
                        </form> 
                     </td>
                    <td>
                            <form action="/comment/destroy/<%= comment.id %>" method="POST">
                                <button type="submit" class="btn btn-sm btn-danger" >
                                    <i class="fa fa-trash" aria-hidden="true"></i>
                                </button>
                            <div class="control-group" style="display:none;">    
                                <input type="hidden" value="/project/show/<%=project.id%>" name="comes_from">
                                <input type="hidden" name="_method" value="delete" />
                                <input type="hidden" name="_csrf" value="<%= _csrf%>"/>
                            </div>
                            </form>
                    </td>
                
                </tr>
              <% }}); %> <!-- fin de ciclo -->
            <% } else {%>
                <tr><td><p style="color:rgba(184, 180, 180, 0.692);"><%= __('nocomments')%></p></td></tr>
            <%}%>
        </table>
    </div>
</div>
<!-- FIN comentarios Team -->




        </div>

    </div>
    <!-- <div class="row-fluid container--global-actions-project-charter">
        <button type="submit" class="btn--return">Volver</button>
        <button type="submit" class="btn--save-and">Guardar</button>
        <button type="submit" class="btn--continue">Continuar &raquo;</button>
    </div> -->




