<h1><%= project.name %></h1>
<br>

<H2>Sponsors</H2>
<table>
    <% _.each(project.sponsors, function(sponsor) { %>
        <tr data-id="<%= project.id%>" data-model="project">
            <!-- <td><%=project.id%></td> -->
            <td><%=sponsor%></td>
            <<td><a href="#">Delete</a></td>
          
        </tr>
   <% }); %>
</table>


<h3>Description: </h3>
<h4><%= project.description %></p>
<h3>Scope: </h3>
<p><%= project.scope %></p>

<hr>
<H2>Objectives</H2>
<table>
    <tr>
        <th>ID</th>
        <th>Objective</th>
        <th>Formula</th>
        <th>Goal</th>
        <th></th>
        <th></th>
        <th></th>
    </tr>
    <% _.each(project.objectives, function(objective) { %>
        <tr data-id="<%= objective.id%>" data-model="objective">
            <!-- <td><%=project.id%></td> -->
            <td><%=objective.description%></td>
            <td><%=objective.formula%></td>
            <td><%=objective.goal%></td>
            <!-- <td><a href="/project/show/<%=project.id%>">Show</a></td> -->
            <td><a href="/objective/edit/<%=objective.id%>">Edit</a></td>
            <td><a href="/objective/destroy/<%=objective.id%>">Delete</a></td>
          
        </tr>
   <% }); %>
</table>


<form action="/objective/new" method="POST">
<input type="hidden" value="<%=project.id%>" name="pid">
<input type="submit" value="Add Objective">
<input type="hidden" value="<%=_csrf%>" name="_csrf">
</form>