<div id="wrapper">
    <h1>Stakeholders y plan de comunicación</h1>
    <h2><%= project.name %></h2>
   
    <hr>
    <H2>Tareas de la EDT
   
    </H2>
    <table class="table table table-sm table-vcenter">
        <tr>
            
            <th class="align-middle">Tarea</th>
            
            <th></th>
            <th></th>
            
        </tr>
        
        <% _.each(project.objectives, function(objective) { %>
            <tr data-id="<%= objective.id%>" data-model="objective">
                
                
            <% _.each(objective.tasks, function(task) { %>
               
                    <td class="vert-aligned"><%= objective.description%> <-- <%=task.text%></td>
               
                <td>
                    <table class="table table-sm ">
                        <tr> 
                          
                            <a href="/task/edit/<%=task.id%>" class="btn btn-sm btn-primary" role="button">
                                <i class="fa fa-pencil-square-o fa-2" aria-hidden="true"></i>                                
                            </a>
                           
                        
                            <form action="/task/destroy/<%= task.id %>" method="POST">
                                <input type="hidden" name="belongs_to_project" value="<%= objective.belongs_to_project %>" >
                                <input type="hidden" name="_method" value="delete" >
                                <button type="submit" class="btn btn-sm btn-danger">
                                    <i class="fa fa-trash fa-2" aria-hidden="true"></i>
                                </button>
                                <input type="hidden" name="_csrf" value="<%= _csrf%>">
                            </form>
                            <form action="/stakeholder/new/" method="POST">
                                <input type="hidden" name="belongs_to_project" value="<%= project.id%>" >
                                <input type="hidden" name="assoc_task" value="<%= task.id%>" >
                                <input type="hidden" name="_method" value="new" >
                             
                                <button type="submit" class="btn btn-sm btn-success" >   
                                <i class="fa fa-plus-square-o fa-2" aria-hidden="true"></i></button>
                                
                                <input type="hidden" name="_csrf" value="<%= _csrf%>">
                            </form>
                        </tr>
                    </table>
                </td>
               
                <td class="align-middle"><table class="table table-hover table-striped table-sm">
                    
                    <% _.each(project.stakeholders, function(stakeholder) { if (stakeholder.assoc_task==task.id) { %>
                         <tr data-id="<%= stakeholder.id%>" data-model="stakeholder" valign="middle">
                            
                            <td><%= stakeholder.name%></td>
                            <td><%= stakeholder.comm_plan%></td>
                            <td><%= JSON.stringify(stakeholder.mails)%></td>
                            <td><%//= stakeholder.assoc_task%></td>
                            <td>
                                <table class="table table-sm">
                                    <tr>
                                        
                                        <form action="/stakeholder/edit/<%=stakeholder.id%>" method="POST">
                                            <input type="hidden" name="belongs_to_project" value="<%= project.id%>">
                                            <input type="hidden" name="_method" value="edit" >
                                            <input type="hidden" name="assoc_task" value="<%= task.id%>" >
                                            <button type="submit" class="btn btn-sm btn-primary">
                                                    <i class="fa fa-pencil-square-o fa-2" aria-hidden="true"></i>
                                            </button>
                                            <input type="hidden" name="_csrf" value="<%= _csrf%>">
                                        </form>

                                      <!--   DESACTIVO BOTON + por el momento -->

                                       
                            
                                        <form action="/stakeholder/destroy/<%= stakeholder.id %>" method="POST">
                                            <input type="hidden" name="belongs_to_project" value="<%= project.id %>" >
                                            <input type="hidden" name="_method" value="delete" >
                                            <button type="submit" class="btn btn-sm btn-danger" >
                                                    <i class="fa fa-trash fa-2" aria-hidden="true"></i>
                                            </button>
                                            <input type="hidden" name="_csrf" value="<%= _csrf%>">
                                        </form>

                                        <form action="#"  method="POST"> <!-- /mail/new -->
                                            <input type="hidden" name="belongs_to_stk" value="<%//= stakeholder.id%>">
                                            <input type="hidden" name="_method" value="new" >
                                            <button type="submit" class="btn btn-sm btn-success disabled">
                                                    <i class="fa fa-plus-circle" aria-hidden="true"></i>
                                            </button>
                                            <input type="hidden" name="_csrf" value="<%= _csrf%>">
                                        </form> 
                                    </tr>
                                </table>
                             </td>
                            </tr> 
                        
                        
                        <%}}); %>
          
                </table></td>
             </tr>    
        </tr> 
       
       
       <% }); %>
    <% }); %>

    </table>


  
       

     <!-- Comentarios sección de Stakeholders -->
     <p><div class="pull-right"> 
            <a class="btn btn-primary" data-toggle="collapse" href="#collapseSTKComments" aria-expanded="false" aria-controls="collapseSTKComments">
                <% if (comments.filter(function thisSection(comment) { return comment.section == 'stk'}).length > 0) {%>
                     <i class="fa fa-comments" aria-hidden="true"></i>
                <% } else {%>
                     <i class="fa fa-commenting-o" aria-hidden="true"></i>
                <% }%>
            </a>
        </div> </p>
    
        <div class="collapse" id="collapseSTKComments">
        <div class="card card-body">
            <div class="pull-right">    
                <form action="/comment/new" method="POST">
                    <div class="control-group" style="display:none;">    
                        <input type="hidden" value="<%=project.id%>" name="belongs_to_project">
                        <input type="hidden" value="stk" name="belongs_to">
                        <input type="hidden" value="stk" name="section">
                        <input type="hidden" value=0 name="item">
                        <input type="hidden" value="/project/stakeholders/<%=project.id%>" name="comes_from">
                        <input type="hidden" value="<%=_csrf%>" name="_csrf">
                    </div>
                    <button type="submit" class="btn btn-sm btn-success" >
                        <i class="fa fa-plus" aria-hidden="true"></i>
                    </button>
                </form>
            </div>
            
            <table class="table table-sm table-hover table-striped">
                <% if (comments.filter(function thisSection(comment) { return comment.section == 'stk'}).length > 0) {%>
             
                <% _.each(comments, function(comment) { if(comment.section == 'stk') { %>
                    <tr data-id="<%= comment.id%>" data-model="comment">
                        <td><span class="badge badge-default"><%= comment.user_name%></span>
                            <%= comment.text%> - <p style="color:rgba(184, 180, 180, 0.692);"><small> <%= comment.date%></small></p></td>
                        <!-- <td><a href="/project/show/<%=project.id%>">Show</a></td> -->
                        <td>
                            <form action="/comment/edit/<%= comment.id %>" method="POST">
                               <button type="submit" class="btn btn-sm btn-success" >
                                 <i class="fa fa-pencil" aria-hidden="true"></i>
                               </button>
                               <div class="control-group" style="display:none;"> 
                                    <input type="hidden" name="_method" value="edit" >
                                    <input type="hidden" value="/project/stakeholders/<%=project.id%>" name="comes_from">
                                    <input type="hidden" name="_csrf" value="<%= _csrf%>">
                                </div>
                            </form> 
                         </td>
                        <td>
                                <form action="/comment/destroy/<%= comment.id %>" method="POST">
                                    <button type="submit" class="btn btn-sm btn-danger" >
                                        <i class="fa fa-trash" aria-hidden="true"></i>
                                    </button>
                                <div class="control-group" style="display:none;">    
                                    <input type="hidden" value="/project/stakeholders/<%=project.id%>" name="comes_from">
                                    <input type="hidden" name="_method" value="delete" />
                                    <input type="hidden" name="_csrf" value="<%= _csrf%>"/>
                                </div>
                                </form>
                        </td>
                    
                    </tr>
                  <% }}); %> <!-- fin de ciclo -->
                <% } else {%>
                    <tr><td><p style="color:rgba(184, 180, 180, 0.692);">No hay comentarios para esta sección</p></td></tr>
                <%}%>
            </table>
        </div>
    </div>
    <!-- FIN comentarios stakeholders -->

    <% if (project.status.stakeholders != "finished") {%>
        <form action="/project/show/<%=project.id%>" method="POST">
            <button type="submit" class="btn btn-primary btn-block">
                <i class="fa fa-home fa-2x" aria-hidden="true"></i>
                Guardar y continuar más tarde
            </button>
            <input type="hidden" value="<%=_csrf%>" name="_csrf">
        </form> <%}%>
    
        <form action="/project/save_state/<%=project.id%>" method="POST">
            <% if (project.status.stakeholders != "finished") {%>
            <button type="submit" class="btn btn-success btn-block">
                <i class="fa fa-lock fa-2x" aria-hidden="true"></i>    
                Guardar y finalizar edición
            </button>
            <input type="hidden"  name="key" value="stakeholders">
            <input type="hidden"  name="state" value="finished">
            <% } else {%>
                <button type="submit" class="btn btn-success btn-block">
                    <i class="fa fa-unlock fa-2x" aria-hidden="true"></i>    
                    Continuar edición
                </button>
                <input type="hidden"  name="key" value="stakeholders">
                <input type="hidden"  name="state" value="wip">
                <%}%>            
            <input type="hidden" value="<%=_csrf%>" name="_csrf">
        </form>
       
</div>
<br><br><br>
<%- partial('../navbuttons.ejs') %>