<div id="wrapper">
    <div class="row">      
        <%- partial('../new_navbuttons.ejs') %>    
       
    </div> <!-- fin row-->

<div class="row-fluid top-page">
    <% if (project.status.stakeholders == "wip" || project.status.stakeholders == "no") {%>
        <div class="alert alert-primary" role="alert">
            Agrega por lo menos<strong> un interesado</strong> para avanzar a la siguiente fase de planificación.
        </div>
     <%} else {%>
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
            <strong>Bien!</strong> Ya puedes continuar a la fase de Análisis de Riesgos.
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
        <%};%>

</div>
    
    <h2 class="subtitle-page">Interesados y plan de comunicación</h2>
    
   
    
    <table class="projects-table" width="100%" style="margin-bottom: 20px;">
        <tr>
            
            <th class="align-middle">Tarea</th>
            
            <th></th>
            <th></th>
            
        </tr>
        
        <% _.each(project.objectives, function(objective) { %>
            <tr data-id="<%= objective.id%>" data-model="objective">
                
                
            <% _.each(objective.tasks, function(task) { %>
               
                    <td class="vert-aligned"><%= objective.description%> -> <%=task.text%></td>
               
                <td class="vert-aligned">
                    <!-- <table class="table table-sm "> -->
                        <!-- <tr>  -->
                          
                            <!-- <a href="/task/edit/<%=task.id%>" class="btn btn-sm btn-primary" role="button">
                                <i class="fa fa-pencil-square-o fa-2" aria-hidden="true"></i>                                
                            </a>
                           
                        
                            <form action="/task/destroy/<%= task.id %>" method="POST">
                                <input type="hidden" name="belongs_to_project" value="<%= objective.belongs_to_project %>" >
                                <input type="hidden" name="_method" value="delete" >
                                <button type="submit" class="btn btn-sm btn-danger">
                                    <i class="fa fa-trash fa-2" aria-hidden="true"></i>
                                </button>
                                <input type="hidden" name="_csrf" value="<%= _csrf%>">
                            </form> -->
                            <form action="/stakeholder/new/" method="POST">
                                <input type="hidden" name="belongs_to_project" value="<%= project.id%>" >
                                <input type="hidden" name="assoc_task" value="<%= task.id%>" >
                                <input type="hidden" name="_method" value="new" >
                             
                                <button type="submit" class="btn-action green-line" >   
                                <!-- <i class="fa fa-plus-square-o fa-2" aria-hidden="true"></i> -->
                                    Agregar&nbsp;Interesado</button>
                                
                                <input type="hidden" name="_csrf" value="<%= _csrf%>">
                            </form>
                        <!-- </tr> -->
                    <!-- </table> -->
                </td>
               
                <td class="align-middle"><table class="table table-hover table-striped table-sm">
                    
                    <% _.each(project.stakeholders, function(stakeholder) { if (stakeholder.assoc_task==task.id) { %>
                         <tr data-id="<%= stakeholder.id%>" data-model="stakeholder" valign="middle">
                            
                            <td><%= stakeholder.name%></td>
                            <td><%= stakeholder.comm_plan%></td>
                            <td><%= JSON.stringify(stakeholder.mails)%></td>
                            <!-- <td><%//= stakeholder.assoc_task%></td> -->
                            <td>
                                <table class="table table-sm">
                                    <tr>
                                        
                                        <form action="/stakeholder/edit/<%=stakeholder.id%>" method="POST">
                                            <input type="hidden" name="belongs_to_project" value="<%= project.id%>">
                                            <input type="hidden" name="_method" value="edit" >
                                            <input type="hidden" name="assoc_task" value="<%= task.id%>" >
                                            <button type="submit" class="btn btn-sm btn-primary">
                                                    <i class="fa fa-pencil-square-o fa-2" aria-hidden="true"></i>
                                            </button>
                                            <input type="hidden" name="_csrf" value="<%= _csrf%>">
                                        </form>

                                      <!--   DESACTIVO BOTON + por el momento -->

                                       
                            
                                        <form action="/stakeholder/destroy/<%= stakeholder.id %>" method="POST">
                                            <input type="hidden" name="belongs_to_project" value="<%= project.id %>" >
                                            <input type="hidden" name="_method" value="delete" >
                                            <button type="submit" class="btn btn-sm btn-danger" >
                                                    <i class="fa fa-trash fa-2" aria-hidden="true"></i>
                                            </button>
                                            <input type="hidden" name="_csrf" value="<%= _csrf%>">
                                        </form>

                                        <!-- <form action="#"  method="POST"> 
                                            <input type="hidden" name="belongs_to_stk" value="<%//= stakeholder.id%>">
                                            <input type="hidden" name="_method" value="new" >
                                            <button type="submit" class="btn btn-sm btn-success disabled">
                                                    <i class="fa fa-plus-circle" aria-hidden="true"></i>
                                            </button>
                                            <input type="hidden" name="_csrf" value="<%= _csrf%>">
                                        </form>  -->
                                    </tr>
                                </table>
                             </td>
                            </tr> 
                        
                        
                        <%}}); %>
          
                </table></td>
             </tr>    
        </tr> 
       
       
       <% }); %>
    <% }); %>

    </table>


  
       

     <!-- Comentarios sección de Stakeholders -->
     <p><div class="pull-right"> 
            <a class="btn-action gray-line" data-toggle="collapse" href="#collapseSTKComments" aria-expanded="false" aria-controls="collapseSTKComments">
                Ver comentarios
                <% if (comments.filter(function thisSection(comment) { return comment.section == 'stk'}).length > 0) {%>
                     <i class="fa fa-comments" aria-hidden="true"></i>
                <% } else {%>
                     <i class="fa fa-commenting-o" aria-hidden="true"></i>
                <% }%>
            </a>
        </div> </p>
    
        <div class="collapse" id="collapseSTKComments">
        <div class="card card-body">
            <div class="pull-right">    
                <form action="/comment/new" method="POST">
                    <div class="control-group" style="display:none;">    
                        <input type="hidden" value="<%=project.id%>" name="belongs_to_project">
                        <input type="hidden" value="stk" name="belongs_to">
                        <input type="hidden" value="stk" name="section">
                        <input type="hidden" value=0 name="item">
                        <input type="hidden" value="/project/stakeholders/<%=project.id%>" name="comes_from">
                        <input type="hidden" value="<%=_csrf%>" name="_csrf">
                    </div>
                    <button type="submit" class="btn btn-sm btn-success" >
                        <i class="fa fa-plus" aria-hidden="true"></i>
                    </button>
                </form>
            </div>
            
            <table class="table table-sm table-hover table-striped">
                <% if (comments.filter(function thisSection(comment) { return comment.section == 'stk'}).length > 0) {%>
             
                <% _.each(comments, function(comment) { if(comment.section == 'stk') { %>
                    <tr data-id="<%= comment.id%>" data-model="comment">
                        <td><span class="badge badge-default"><%= comment.user_name%></span>
                            <%= comment.text%> - <p style="color:rgba(184, 180, 180, 0.692);"><small> <%= comment.date.toLocaleString()%></small></p></td>
                        <!-- <td><a href="/project/show/<%=project.id%>">Show</a></td> -->
                        <td>
                            <form action="/comment/edit/<%= comment.id %>" method="POST">
                               <button type="submit" class="btn btn-sm btn-success" >
                                 <i class="fa fa-pencil" aria-hidden="true"></i>
                               </button>
                               <div class="control-group" style="display:none;"> 
                                    <input type="hidden" name="_method" value="edit" >
                                    <input type="hidden" value="/project/stakeholders/<%=project.id%>" name="comes_from">
                                    <input type="hidden" name="_csrf" value="<%= _csrf%>">
                                </div>
                            </form> 
                         </td>
                        <td>
                                <form action="/comment/destroy/<%= comment.id %>" method="POST">
                                    <button type="submit" class="btn btn-sm btn-danger" >
                                        <i class="fa fa-trash" aria-hidden="true"></i>
                                    </button>
                                <div class="control-group" style="display:none;">    
                                    <input type="hidden" value="/project/stakeholders/<%=project.id%>" name="comes_from">
                                    <input type="hidden" name="_method" value="delete" />
                                    <input type="hidden" name="_csrf" value="<%= _csrf%>"/>
                                </div>
                                </form>
                        </td>
                    
                    </tr>
                  <% }}); %> <!-- fin de ciclo -->
                <% } else {%>
                    <tr><td><p style="color:rgba(184, 180, 180, 0.692);">No hay comentarios para esta sección</p></td></tr>
                <%}%>
            </table>
        </div>
    </div>
    <!-- FIN comentarios stakeholders -->
