<div class="container">
    <h1>Stakeholders y plan de comunicación</h1>
    <h2><%= project.name %></h2>
   
    <hr>
    <H2>Tareas de la EDT</H2>
    <table class="table table table-sm table-vcenter">
        <tr>
            
            <th class="align-middle">Tarea</th>
            
            <th></th>
            <th></th>
            
        </tr>
        
        <% _.each(project.objectives, function(objective) { %>
            <tr data-id="<%= objective.id%>" data-model="objective">
                
                
            <% _.each(objective.tasks, function(task) { %>
               
                    <td class="vert-aligned"><%= objective.description%> <-- <%=task.text%></td>
               
                <td>
                    <table class="table table-sm ">
                        <tr> 
                          
                            <a href="/task/edit/<%=task.id%>" class="btn btn-sm btn-primary" role="button">
                                <i class="fa fa-pencil-square-o fa-2" aria-hidden="true"></i>                                
                            </a>
                           
                        
                            <form action="/task/destroy/<%= task.id %>" method="POST">
                                <input type="hidden" name="belongs_to_project" value="<%= objective.belongs_to_project %>" >
                                <input type="hidden" name="_method" value="delete" >
                                <button type="submit" class="btn btn-sm btn-danger">
                                    <i class="fa fa-trash fa-2" aria-hidden="true"></i>
                                </button>
                                <input type="hidden" name="_csrf" value="<%= _csrf%>">
                            </form>
                            <form action="/stakeholder/new/" method="POST">
                                <input type="hidden" name="belongs_to_project" value="<%= project.id%>" >
                                <input type="hidden" name="assoc_task" value="<%= task.id%>" >
                                <input type="hidden" name="_method" value="new" >
                             
                                <button type="submit" class="btn btn-sm btn-success" >   
                                <i class="fa fa-plus-square-o fa-2" aria-hidden="true"></i></button>
                                
                                <input type="hidden" name="_csrf" value="<%= _csrf%>">
                            </form>
                        </tr>
                    </table>
                </td>
               
                <td class="align-middle"><table class="table table-hover table-striped table-sm">
                    
                    <% _.each(project.stakeholders, function(stakeholder) { if (stakeholder.assoc_task==task.id) { %>
                         <tr data-id="<%= stakeholder.id%>" data-model="stakeholder" valign="middle">
                            
                            <td><%= stakeholder.name%></td>
                            <td><%= stakeholder.comm_plan%></td>
                            <td><%= JSON.stringify(stakeholder.mails)%></td>
                            <td><%= stakeholder.assoc_task%></td>
                            <td>
                                <table class="table table-sm">
                                    <tr>
                                        
                                        <form action="/stakeholder/edit/<%=stakeholder.id%>" method="POST">
                                            <input type="hidden" name="belongs_to_project" value="<%= project.id%>">
                                            <input type="hidden" name="_method" value="edit" >
                                            <input type="hidden" name="assoc_task" value="<%= task.id%>" >
                                            <button type="submit" class="btn btn-sm btn-primary">
                                                    <i class="fa fa-pencil-square-o fa-2" aria-hidden="true"></i>
                                            </button>
                                            <input type="hidden" name="_csrf" value="<%= _csrf%>">
                                        </form>

                                        <form action="/mail/new/" method="POST">
                                            <input type="hidden" name="belongs_to_stk" value="<%= stakeholder.id%>">
                                            <input type="hidden" name="_method" value="new" >
                                            <button type="submit" class="btn btn-sm btn-success disabled">
                                                    <i class="fa fa-plus-circle" aria-hidden="true"></i>
                                            </button>
                                            <input type="hidden" name="_csrf" value="<%= _csrf%>">
                                        </form>
                            
                                        <form action="/stakeholder/destroy/<%= stakeholder.id %>" method="POST">
                                            <input type="hidden" name="belongs_to_project" value="<%= project.id %>" >
                                            <input type="hidden" name="_method" value="delete" >
                                            <button type="submit" class="btn btn-sm btn-danger" >
                                                    <i class="fa fa-trash fa-2" aria-hidden="true"></i>
                                            </button>
                                            <input type="hidden" name="_csrf" value="<%= _csrf%>">
                                        </form>
                                    </tr>
                                </table>
                             </td>
                            </tr> 
                        
                        
                        <%}}); %>
          
                </table></td>
             </tr>    
        </tr> 
       
       
       <% }); %>
    <% }); %>

    </table>


    <form action="/objective/new" method="POST">
    <input type="hidden" value="<%=project.id%>" name="belongs_to_project">
    <input type="submit" value="Add Objective">
    <input type="hidden" value="<%=_csrf%>" name="_csrf">
    </form>

    <br><br><br>
    <%- partial('../navbuttons.ejs') %>
</div>