
<form action="/comment/create" method="POST" id="sign-up-form" class="form-signin">
    <h2 class="form-signin-heading">Create comment</h2>


    <div class="control-group">
        <input type="text" class="form-control" placeholder="comentario" name="text"></br>
    </div>
    
    
    <div class="control-group">
        <p>
        <%=Date.now()%>
        <%=session.User.name%>
        </p>
    </div>
    <div class="control-group">
        <input type="hidden" class="form-control" value="<%=session.User.id%>" name="user"></br>
        <input type="hidden" class="form-control" value="<%=Date()%>" name="date"></br>
    </div>

    <div class="control-group">
        <input type="hidden" class="form-control" value="<%=belongs_to_project%>" name="belongs_to_project"></br>
        <input type="hidden" class="form-control" value="<%=belongs_to%>" name="belongs_to"></br>
        <input type="hidden" class="form-control" value="<%=section%>" name="section"></br>
        <input type="hidden" class="form-control" value="<%=item%>" name="item"></br>
    
        <input type="hidden" class="form-control" value="<%=comes_from%>" name="comes_from"></br>
    </div>
        <input type="submit" class="btn btn-lg btn-primary btn-block" value="Create Comment">
        <input type="hidden" name="_csrf" value="<%=_csrf%>" />
</form>

