
	<div id="wrapper">
	
		<div class="container--box-login">
            <h1 class="title--page-login"><%= __('login.title')%></h1>
            <% if (flash && flash.err) { %>
                <ul class="alert alert-danger">
                   
                    <% Object.keys(flash.err).forEach(function(key) {%>
                    <li><%- JSON.stringify(flash.err[key]) %></li>
                    <% }); %>
                </ul>
            <% } %>
			<form action="/session/create" method="POST" id="sign-up-form" class="form-signin">
				<div class="item-form">
					<input id="email" name="email" type="email" placeholder="correo@correo.cl" required>
					<label for="email"><%=__('login.email_label')%></label>
				</div>
				<div class="item-form">
					<input id="passw" name="passw" type="password" placeholder="••••••••" required>
					<label for="password"><%=__('login.password_label')%></label>
				</div>
				<div class="item-form">
					<input type="submit" class="submit fl" value="<%=__('login.login_btn')%>">
					
                </div>
                <input type="hidden" name="_csrf" value="<%=_csrf%>" />
            </form>
            <form action="/user/forgotpassword" method="POST" id="sign-up-form" class="form-signin">
                                        
                <input type="submit" class="reset-pass fr" value="<%=__('login.retrieve_pass_btn')%>">
                <input type="hidden" name="_csrf" value="<%=_csrf%>" />
            </form>
		</div>

        
      



	</div>




