<div id="wrapper">
    <form action="/risk/update/<%=risk.id%>" method="POST" id="risk-form">
        <h2 class="form-signin-heading">Create Risk</h2>

        <% if (flash && flash.err) { %>
            <ul class="alert alert-success">
                <li>Existe flash</li>
                <% Object.keys(flash.err).forEach(function(error) {%>
                <li><%- JSON.stringify(flash.err[error]) %></li>
                <% }); %>
            </ul>

        <% } %>
        <div class="form-group">
           <input type="text" class="form-control" placeholder="<%=risk.description%>" name="description" autofocus></br>
            <input type="text" class="form-control" placeholder="<%=risk.impact%>" name="impact"></br>
            <input type="text" class="form-control" placeholder="<%=risk.mitigation%>" name="mitigation" cols="60"></br>
       
        
       <br/>
        
        <input type="submit" class="btn btn-lg btn-primary btn-block" value="Create risk">
        <input type="hidden" name="_csrf" value="<%=_csrf%>" />
        <input type="hidden" name="belongs_to_project" value="<%=project.id%>" />
        <input type="hidden" name="assoc_stakeholder" value="<%=assoc_stakeholder%>" />
        
        
    </div>
   </form>
</div>

<script>
    $(risk-form).validate();
</script>