<div id="wrapper">
	
    <div class="container--box-login">
        <h1 class="title--page-login"><%= __('retrieve_pass.title')%></h1>
        <p class="txt--page-login"><%= __('retrieve_pass.info')%></p>
        <form action="/user/forgotpasswordmail" method="POST">
            <div class="item-form">
                <input id="email" name="email" type="email" placeholder="correo@correo.cl" required>
                <label for="email"><%= __('retrieve_pass.email_lab')%></label>
            </div>
            <div class="item-form">
                <input type="submit" class="submit fl" value="<%= __('retrieve_pass.btn')%>">
                <input type="hidden" name="_csrf" value="<%=_csrf%>" />
            </div>
        </form>
    </div>
    
</div>