
  <script src="https://www.google.com/recaptcha/api.js" async defer></script>

  <div id="wrapper">
    <% if (flash && flash.err) { %>
        <ul class="alert alert-success">
            <li>Existe flash</li>
            <% Object.keys(flash.err).forEach(function(error) {%>
            <li><%- JSON.stringify(flash.err[error]) %></li>
            <% }); %>
        </ul>

    <% } %>
    <div class="container--box-login">
        <h1 class="title--page-login"><%= __('signup.title')%></h1> <!-- Registrarse -->
        <form action="/user/create" method="POST">
            <div class="container--2col-form">
                <div class="col-form">
                    <div class="item-form">
                        <input id="name" name="name" type="text" placeholder="<%= __('signup.name_placeholder')%>" required>
                        <label for="name"><%= __('signup.name_label')%></label>
                    </div>
                </div>
                <div class="col-form">
                    <div class="item-form">
                        <input id="last-name" name="last_name" type="text" placeholder="<%= __('signup.last_name_placeholder')%>" required>
                        <label for="last-name"><%= __('signup.last_name_label')%></label>
                    </div>
                </div>
            </div>
            <div class="item-form">
                <input id="email" name="email" type="email" placeholder="correo@correo.cl" required>
                <label for="email"><%= __('signup.email_label')%></label>
                <p><%= __('signup.email_info')%></p> <!-- Este se usará para iniciar sesión -->
            </div>
            <div class="item-form">
                <input id="passw" name="passw" type="password" placeholder="••••••••" required>
                <label for="passw"><%= __('signup.passw_label')%></label>
            </div>
            <div class="item-form">
                <input id="confirmation" name="confirmation" type="password" placeholder="••••••••" required>
                <label for="confirmation"><%= __('signup.confirmation_label')%></label>
            </div>

            <div class="g-recaptcha" id="captcha_box" data-sitekey="6LeUElIUAAAAAKQEyys7YjRTb7DUSXGA3AUA27PJ"></div>
        
           <!--  <input type="submit" class="btn btn-lg btn-primary btn-block" value="Create User" id="submit" style="display:block"> -->
            <input type="hidden" name="_csrf" value="<%=_csrf%>" />
            

            <div class="item-form">
                <input type="submit" class="submit fl" value="<%= __('signup.register_btn')%>" id="submit" style="display:block">
            </div>
        </form>
    </div>
    
</div>

<script>
    $("sign-up-form").validate();
</script>