<div id="wrapper"©>
    <h2><%= user.name %><small> - <%= user.email %></small></h2>
   
    <hr>
    <H3><%=__('user.show.myprojects.title')%></H3>

    <!-- <input class="form-control" id="myInput" type="text" placeholder="<%//=__('user.show.searchbar')%>">
     --><br>
    <span class="pull-left">
    <form action="/project/new" method="POST">
        <input type="hidden" value="<%=user.id%>" name="owner">
        <button type="submit" class="btn btn-large btn-success"><%=__('user.show.myprojects.addprojectbutton')%></button>
        <input type="hidden" value="<%=_csrf%>" name="_csrf">
        </form>
    </span>
<p></p>
    <div id="no-more-tables">
    <table class="table table-striped table-hover col-md-12 table-condensed cf" id="myTable">
        <thead class="cf">
        <tr>
            
            <th class="align-middle w-25" style="width: 30%"><%=__('user.show.myprojects.name')%></th>
            <th class="align-middle w-25" style="width: 30%"><%=__('user.show.myprojects.description')%></th>
            <th class="align-middle w-25" style="width: 30%"><%=__('user.show.myprojects.scope')%></th>
            <th class="align-middle"><%=__('user.show.myprojects.pc')%></th>
            <th class="align-middle"><%=__('user.show.myprojects.edt')%></th>
            <th class="align-middle"><%=__('user.show.myprojects.stk')%></th>
            <th class="align-middle"><%=__('user.show.myprojects.rsk')%></th>
            <th class="align-middle"><%=__('user.show.myprojects.gantt')%></th>
            <th class="align-middle" style="width: 30%"><%=__('user.show.myprojects.advance')%></th>
            <th class"w-25">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</th>
            
        </tr></thead>
        <tbody id="myTable">
         
                <% _.each(user.projects, function(project) { %>
                    <tr data-id="<%= project.id%>" data-model="project">
                        <!-- <td><%=project.id%></td> -->
                        <td data-title="Name" class="w-25" ><%=project.name%></td>
                        <td data-title="Description"><%=project.description.substr(1,100)%></td>
                        <td data-title="Scope"><%=project.scope.substr(1,100)%></td>
                        <%if (project.status) {%>
                            <td data-title="PC" class="align-middle mx-auto">
                                <a href="/project/show/<%=project.id%>">
                                <% if (project.status.pcharter == "wip") {%>
                                <i class="fa fa-play" aria-hidden="true"></i>
                                <% } else {%>
                                <% if (project.status.pcharter == "finished") {%>
                                    <i class="fa fa-check" aria-hidden="true"></i>
                                <% } else {%>
                                    <i class="fa fa-question" aria-hidden="true"></i>
                                    <% }}%>
                                </a>
                                </td>
                        <td data-title="EDT" class="align-middle mx-auto">
                            <a href="/project/edt/<%=project.id%>">
                            <% if (project.status.edt == "wip") {%>
                            <i class="fa fa-play" aria-hidden="true"></i>
                            <% } else {%>
                            <% if (project.status.edt == "finished") {%>
                                <i class="fa fa-check" aria-hidden="true"></i>
                            <% } else {%>
                                <i class="fa fa-question" aria-hidden="true"></i>
                                <% }}%>
                            </a>
                        </td>
                        <td data-title="STK" class="align-middle mx-auto">
                             <a href="/project/stakeholders/<%=project.id%>">
                            <% if (project.status.stakeholders == "wip") {%>
                            <i class="fa fa-play" aria-hidden="true"></i>
                            <%} else {%>
                            <% if (project.status.stakeholders == "finished") {%>
                                <i class="fa fa-check" aria-hidden="true"></i>
                            <%} else {%>
                                <i class="fa fa-question" aria-hidden="true"></i>
                                <%}}%>
                             </a>
                        </td>
                        <td data-title="RSK" class="align-middle mx-auto">
                                <a href="/project/risks/<%=project.id%>">
                            <% if (project.status.risks == "wip") {%>
                            <i class="fa fa-play" aria-hidden="true"></i>
                            <%} else {%>
                            <% if (project.status.risks == "finished") {%>
                                <i class="fa fa-check" aria-hidden="true"></i>
                            <%} else {%>
                                <i class="fa fa-question" aria-hidden="true"></i>
                                <%}}%>
                                </a>
                        </td>
                        <td data-title="Gantt" class="align-middle mx-auto">
                                <a href="/project/gantt/<%=project.id%>">
                            <% if (project.status.gantt == "wip") {%>
                            <i class="fa fa-play" aria-hidden="true"></i>
                            <%} else {%>
                            <% if (project.status.gantt == "finished") {%>
                                <i class="fa fa-check" aria-hidden="true"></i>
                            <%} else {%>
                                <i class="fa fa-question" aria-hidden="true"></i>
                                <%}}%>

                                <%}%>
                                </a>
                        </td>
                        <td data-title="Advance" class="align-middle mx-auto"><%=project.advance%>%</td>
                        <td class="align-middle">
                        <table class="table table-sm ">
                           <!--  <tr>  -->
                                                                
                                <form action="/project/show/<%= project.id %>" method="POST">
                                    <button type="submit" class="btn btn-sm btn-success">
                                        <i class="fa fa-eye fa-2" aria-hidden="true"></i>
                                    </button>
                                    <div class="control-group" style="display:none;"> 
                                        <input type="hidden" name="_csrf" value="<%= _csrf%>">
                                        <input type="hidden" name="owner" value="<%= project.owner %>" >
                                        <input type="hidden" name="_method" value="edit" >
                                    </div>
                                </form>
                                <form action="/project/edit/<%= project.id %>" method="POST">
                                    <button type="submit" class="btn btn-sm btn-primary">
                                        <i class="fa fa-pencil fa-2" aria-hidden="true"></i>
                                    </button>
                                    <div class="control-group" style="display:none;"> 
                                        <input type="hidden" name="_csrf" value="<%= _csrf%>">
                                        <input type="hidden" name="owner" value="<%= project.owner %>" >
                                        <input type="hidden" name="_method" value="edit" >
                                    </div>
                                </form>
                                <form action="/project/destroy/<%= project.id %>" method="POST">
                                    <button type="submit" class="btn btn-sm btn-danger">
                                        <i class="fa fa-trash fa-2" aria-hidden="true"></i>
                                    </button>
                                    <div class="control-group" style="display:none;"> 
                                        <input type="hidden" name="_csrf" value="<%= _csrf%>">
                                        <input type="hidden" name="owner" value="<%= project.owner %>" >
                                        <input type="hidden" name="_method" value="delete" >
                                    </div>
                                </form>
                            
                          <!--   </tr> -->
                        </table>
                    </td>
                    </tr>
            <% }); %>
        
    </table>
    </div>

    

<!-- PROYECTOS DE LOS QUE PARTICIPO -->


    <hr>
    <H3><%=__('user.show.others.title')%></H3>

   <!--  <input class="form-control" id="myInput2" type="text" placeholder="<%//=__('user.show.searchbar')%>">
    --> <br>
    <div id="no-more-tables">
    <table class="table table-striped table-hover col-md-12 table-condensed cf" id="other_projects_table">
        <thead class="cf">
        <tr>
            
            <th class="align-middle" style="width: 30%"><%=__('user.show.others.name')%></th>
            <th class="align-middle d-none d-md-block d-lg-none" style="width: 30%"><%=__('user.show.others.description')%></th>
            <th class="align-middle hidden-sm-down" style="width: 30%"><%=__('user.show.others.scope')%></th>
            <th class="align-middle hidden-sm-down" style="width: 30%"><%=__('user.show.others.pc')%></th>
            <th class="align-middle hidden-sm-down" style="width: 30%"><%=__('user.show.others.edt')%></th>
            <th class="align-middle hidden-sm-down" style="width: 30%"><%=__('user.show.others.stk')%></th>
            <th class="align-middle hidden-sm-down" style="width: 30%"><%=__('user.show.others.rsk')%></th>
            <th class="align-middle hidden-sm-down" style="width: 30%"><%=__('user.show.others.gantt')%></th>
            <th class="align-middle" style="width: 30%"><%=__('user.show.others.advance')%></th>
            <th class="align-middle" style="width: 30%">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</th>
            
        </tr>
    </thead>
         <tbody id="myTable2">
                <% _.each(user.participates, function(project) { %>
                    <tr data-id="<%= project.id%>" data-model="project">
                        <!-- <td><%=project.id%></td> -->
                        <td data-title="Name"><%=project.name%></td>
                        <td data-title="Description" class="d-none d-md-block d-lg-none"><%=project.description%></td>
                        <td data-title="Scope" class="hidden-sm-down"><%=project.scope%></td>
                        <%if (project.status) {%>
                            <td data-title="Project Charter" class="hidden-sm-down">
                                <a href="/project/show/<%=project.id%>">
                                <% if (project.status.pcharter == "wip") {%>
                                <i class="fa fa-play" aria-hidden="true"></i>
                                <% } else {%>
                                <% if (project.status.pcharter == "finished") {%>
                                    <i class="fa fa-check" aria-hidden="true"></i>
                                <% } else {%>
                                    <i class="fa fa-question" aria-hidden="true"></i>
                                    <% }}%>
                                </a>
                                </td>
                        <td data-title="EDT" class="hidden-sm-down">
                            <a href="/project/edt/<%=project.id%>">
                            <% if (project.status.edt == "wip") {%>
                            <i class="fa fa-play" aria-hidden="true"></i>
                            <% } else {%>
                            <% if (project.status.edt == "finished") {%>
                                <i class="fa fa-check" aria-hidden="true"></i>
                            <% } else {%>
                                <i class="fa fa-question" aria-hidden="true"></i>
                                <% }}%>
                            </a>
                        </td>
                        <td data-title="Stakeholders" class="hidden-sm-down">
                             <a href="/project/stakeholders/<%=project.id%>">
                            <% if (project.status.stakeholders == "wip") {%>
                            <i class="fa fa-play" aria-hidden="true"></i>
                            <%} else {%>
                            <% if (project.status.stakeholders == "finished") {%>
                                <i class="fa fa-check" aria-hidden="true"></i>
                            <%} else {%>
                                <i class="fa fa-question" aria-hidden="true"></i>
                                <%}}%>
                             </a>
                        </td>
                        <td data-title="Risks" class="hidden-sm-down">
                                <a href="/project/risks/<%=project.id%>">
                            <% if (project.status.risks == "wip") {%>
                            <i class="fa fa-play" aria-hidden="true"></i>
                            <%} else {%>
                            <% if (project.status.risks == "finished") {%>
                                <i class="fa fa-check" aria-hidden="true"></i>
                            <%} else {%>
                                <i class="fa fa-question" aria-hidden="true"></i>
                                <%}}%>
                                </a>
                        </td>
                        <td data-title="Gantt" class="hidden-sm-down">
                                <a href="/project/gantt/<%=project.id%>">
                            <% if (project.status.gantt == "wip") {%>
                            <i class="fa fa-play" aria-hidden="true"></i>
                            <%} else {%>
                            <% if (project.status.gantt == "finished") {%>
                                <i class="fa fa-check" aria-hidden="true"></i>
                            <%} else {%>
                                <i class="fa fa-question" aria-hidden="true"></i>
                                <%}}%>

                                <%}%>
                                </a>
                        </td>
                        <td data-title="Advance"><%=project.advance%>%</td>
                        <td class="align-middle">
                        <table class="table table-sm ">
                           <!--  <tr>  -->
                                <form action="/project/show/<%= project.id %>" method="POST">
                                    <input type="hidden" name="owner" value="<%= project.owner %>" >
                                    <input type="hidden" name="_method" value="edit" >
                                    <button type="submit" class="btn btn-sm btn-success">
                                        <i class="fa fa-eye fa-2" aria-hidden="true"></i>
                                    </button>
                                    <input type="hidden" name="_csrf" value="<%= _csrf%>">
                                </form>
                                <form action="/project/edit/<%= project.id %>" method="POST">
                                    <input type="hidden" name="owner" value="<%= project.owner %>" >
                                    <input type="hidden" name="_method" value="edit" >
                                    <button type="submit" class="btn btn-sm btn-primary">
                                        <i class="fa fa-pencil fa-2" aria-hidden="true"></i>
                                    </button>
                                    <input type="hidden" name="_csrf" value="<%= _csrf%>">
                                </form>
                                <form action="/project/destroy/<%= project.id %>" method="POST">
                                    <input type="hidden" name="owner" value="<%= project.owner %>" >
                                    <input type="hidden" name="_method" value="delete" >
                                    <button type="submit" class="btn btn-sm btn-danger">
                                        <i class="fa fa-trash fa-2" aria-hidden="true"></i>
                                    </button>
                                    <input type="hidden" name="_csrf" value="<%= _csrf%>">
                                </form>
                           <!--  </tr> -->
                        </table> </td>
                    </tr>
            <% }); %>
        </tbody>        
    </table>
    </div>



</div>


