<div class="container">
    <form action="/milestone/create" method="POST" id="new-obj-form" class="form-new-obj">
        <h2 class="form-signin-heading"><%=__('milestone_new.title')%></h2>
        
        <% if (flash && flash.err) { %>
            <ul class="alert alert-success">
                <li>Existe flash</li>
                <% Object.keys(flash.err).forEach(function(error) {%>
                <li><%- JSON.stringify(flash.err[error]) %></li>
                <% }); %>
            </ul>
        
        <% } %>
        <input type="hidden" name="belongs_to_project" value="<%=project.id%>" />
        <div class="control-group">
        <input type="text" class="form-control" placeholder="<%=__('milestone_new.description')%>" name="description"></br>
        </div>
        <div class="control-group">
            <input type="date" class="form-control" placeholder="<%=__('milestone_new.date')%>" name="date"></br>
        </div>
           
        
        <br/>
        </div>
        <input type="submit" class="btn btn-lg btn-primary btn-block" value="<%=__('milestone_new.button')%>">
        <input type="hidden" name="_csrf" value="<%=_csrf%>" />
        </form>
</div>