hola loco hasta acá todo bien!
<form action="/objective/update/<%=objective.id%>" method="POST">
    <h2>Modificar usuario</h2>
    <input value="<%=objective.name%>" type="text" name="name"><br/>
    <input value="<%=objective.email%>" type="text" name="email"><br/>
    <input value="<%=objective.state%>" type="text" name="state"><br/>
    <input  type="submit" value="Editar Usuario"/>
    <input type="hidden" name="_csrf" value="<%=_csrf%>" />
</form>