<div class="container">
<form action="/objective/update/<%=objective.id%>" method="POST" id="new-obj-form">
    <h2>Modificar objetivo</h2>
    <input value="<%=objective.description%>" type="text" name="description"><br/>
    <input value="<%=objective.formula%>" type="text" name="formula"><br/>
    <input value="<%=objective.goal%>" type="text" name="goal"><br/>
    <input  type="submit" value="Confirmar"/>
    <input type="hidden" name="_csrf" value="<%=_csrf%>" />
</form>
</div>

<script>
        $("new-obj-form").validate();
</script>