<div id="wrapper">
        <h1>Objectives</h1>
        <br>
    
        <H2>Objectives</H2>
        <table>
            <tr>
                <th>ID</th>
                <th>Objective</th>
                <th>Formula</th>
                <th>Goal</th>
                <th></th>
                <th></th>
                <th></th>
            </tr>

            <% _.each(objectives, function(objective) { %>
                <tr data-id="<%= objective.id%>" data-model="objective">
                    <td><%= objective.id%></td>
                    <td><%= objective.description%></td>
                    <td><%= objective.formula%></td>
                    <td><%= objective.goal%></td>
                    
                    <td><a href="/objective/edit/<%=objective.id%>">Edit</a></td>
                    <td>
                            <form action="/objective/destroy/<%= objective.id %>" method="POST">
                                <input type="hidden" name="belongs_to_project" value="<%= objective.belongs_to_project %>" />
                                <input type="hidden" name="_method" value="delete" />
                                <input type="submit" class="btn btn-sm btn-danger" value="X" />
                                <input type="hidden" name="_csrf" value="<%= _csrf%>"/>
                            </form>
                            <form action="/task/new" method="POST">
                                <input type="hidden" value="<%=objective.id%>" name="belongs_to_obj">
                                <input type="submit" class="btn btn-sm btn-success" value="New Taskc">
                                <input type="hidden" value="<%=_csrf%>" name="_csrf">
                            </form>
                    </td>
                
                </tr>
        <% }); %>
        </table>
    
  
    </div>