<div id="wrapper">
    <h1>EDT</h1>
    <h2><%= project.name %></h2>
    <br>

    <H2>Sponsors</H2>
    <table
    <hr>
    <H2>Objectives</H2>
    <table>
        <tr>
            <th>ID</th>
            <th>Objective</th>
            <th>Formula</th>
            <th>Goal</th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
        <% _.each(project.objectives, function(objective) { %>
            <tr data-id="<%= objective.id%>" data-model="objective">
                <td><%= objective.id%></td>
                <td><%= objective.description%></td>
                <td><%= objective.formula%></td>
                <td><%= objective.goal%></td>
                <td><a href="/objective/edit/<%=objective.id%>">Edit</a></td>
                <td><form action="/task/new/" method="POST">
                    <input type="hidden" name="belongs_to_obj" value="<%= objective.id%>" >
                    <input type="hidden" name="_method" value="new" >
                    <input type="submit" class="btn btn-sm btn-success" value="Add task" >
                    <input type="hidden" name="_csrf" value="<%= _csrf%>">
                </form></td>
                <td>
                        <form action="/objective/destroy/<%= objective.id %>" method="POST">
                            <input type="hidden" name="belongs_to_project" value="<%= objective.belongs_to_project %>" >
                            <input type="hidden" name="_method" value="delete" >
                            <input type="submit" class="btn btn-sm btn-danger" value="X" >
                            <input type="hidden" name="_csrf" value="<%= _csrf%>">
                        </form>
                </td>
                <table>
                    <th></th>    
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                <% _.each(objective.tasks, function(task) { %>
        
                    <tr data-id="<%= tast.id%>" data-model="task">
                            <td><%= task.id%></td>
                            <td><%= task.text%></td>
                            <td><%= task.status%></td>
                            <td><a href="/task/edit/<%=task.id%>">Edit</a></td>
                            <td><form action="/lvl1task/new/" method="POST">
                                <input type="hidden" name="belongs_to_task" value="<%= task.id%>">
                                <input type="hidden" name="_method" value="new" >
                                <input type="submit" class="btn btn-sm btn-success" value="Add Subtask">
                                <input type="hidden" name="_csrf" value="<%= _csrf%>">
                            </form></td>
                            <td>
                                    <form action="/task/destroy/<%= task.id %>" method="POST">
                                        <input type="hidden" name="belongs_to_objective" value="<%= objective.id %>" >
                                        <input type="hidden" name="_method" value="delete" >
                                        <input type="submit" class="btn btn-sm btn-danger" value="X" >
                                        <input type="hidden" name="_csrf" value="<%= _csrf%>">
                                    </form>
                            </td>
            </tr>
            <% }); %>    
            </table>    
            </tr>
    <% }); %>
    </table>


    <form action="/objective/new" method="POST">
    <input type="hidden" value="<%=project.id%>" name="belongs_to_project">
    <input type="submit" value="Add Objective">
    <input type="hidden" value="<%=_csrf%>" name="_csrf">
    </form>

</div>