<div class="container">
    <form action="/stakeholder/update_assign/<%=stakeholder.id%>" method="POST" id="new-stakeholder-form">
        <h2 class="form-signin-heading">Update Stakeholder</h2>

        <% if (flash && flash.err) { %>
            <ul class="alert alert-success">
                <li>Existe flash</li>
                <% Object.keys(flash.err).forEach(function(error) {%>
                <li><%- JSON.stringify(flash.err[error]) %></li>
                <% }); %>
            </ul>

        <% } %>
        <div class="form-group">
            
            <p><%=stakeholder.name%></p>
            <p><%=stakeholder.comm_plan%></p>
            <input type="text" class="form-control" value="<% if(stakeholder.responsible){%> <%= stakeholder.responsible %> <%} else {%><%}%>" name="responsible" size="100"></br>

        <br/>
        
        <input type="submit" class="btn btn-lg btn-primary btn-block" value="Create stakeholder">
        <input type="hidden" name="_csrf" value="<%=_csrf%>" />
        <input type="hidden" name="belongs_to_project" value="<%=belongs_to_project%>" />
        <input type="hidden" name="assoc_task" value="<%=stakeholder.assoc_task%>" />

    </div>
   </form>

</div>